In this notebook we show how to import data from a csv file and perfom some simple statistics

Importeer de nodige libraries

In [3]:
import pandas as pd #nodig voor file import
import numpy as np #nodig voor berekeningen

In [7]:
gegevens = pd.read_csv("titanic.csv"
                       ,skiprows=1 # first line is not a header in this fil
                   #, dtype={"Survived": int,"Pclass": int, "Name": str, "Sex": str, "Age":int , "Siblings/Spouses Aboard": int,
                    # "Parents/Children Aboard": int,"Fare": float }
                  )  #open de titanic.csv file

In [8]:
# Preview the first 5 lines of the loaded data 
gegevens.head()

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500

In [17]:
#From https://datatofish.com/use-pandas-to-calculate-stats-from-an-imported-csv-file/
print(gegevens['Fare'].mean())
print(gegevens['Survived'].count())

32.30542018038328
887

In [23]:
#https://datatofish.com/pivot-table-python/
draaitabel = gegevens.pivot_table(index=['Sex'], values=['Survived'], aggfunc=['count','sum'])
print(draaitabel)

          count      sum
       Survived Survived
Sex
female      314      233
male        573      109